body { background: #343635; color: #a8b2d7; font-family: "Roboto", Arial, sans-serif; font-size: 14px; }
a { color: #d3d9b9; }

/*noinspection ALL*/
h1 { font-size: 3em; color: #d3d9b9; text-shadow: none; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #f2f5eb, #d3d9b9);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text; }

h2 { color: #f2f5eb; }

section#arena { border-color: #222; background: #42555C; }

strong { font-weight: bold; }
p:not(.error) strong, dt strong { color: #f2f5eb; }
.button-group { display: inline-block; border-color: #656666; }
.error { font-size: 3em; color: #FF7055; }