body { background: #343635; color: #a3d6d7; font-family: "Roboto", Arial, sans-serif; font-size: 14px; }
a { color: #d3d9b9; }

/*noinspection ALL*/
h1 { font-size: 3em; color: #d3d9b9; text-shadow: none; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #f2f5eb, #d3d9b9);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text; }

h2 { color: #f2f5eb; }

.canvas { border-color: #222; background: #42555C; }
.controls { border-color: #222; background: #3C4244; }
.controls .upper h3 { color: #CDE9EF; }
.controls .upper .thing { background: #626F73; color: #cfe2e6;  border-color: #3C4244; }
.controls .upper .thing.hover, .controls .upper .thing:hover { background: #79888c; color: #cff4fa; border-color: #ABC9CF; }
.controls .upper .thing.selected { background: #74b8c2; color: #ebffff; border-color: #d4f4f4; }

.controls .movement button { background: #626F73; border-color: #3C4244; border-radius: 16px; color: #ABC9CF; transition: all 0.4s; }
.controls .movement button:hover { background: #79888c; color: #badbe0; transition: all 0.05s; }
.controls .movement button:active { background: #7f9094; color: #a7c0c2; transition: all 0.02s;  }
#moveUp { border-top-left-radius: 48px; border-top-right-radius: 48px; } 
#moveLeft { border-top-left-radius: 48px; border-bottom-left-radius: 48px; }
#moveRight { border-top-right-radius: 48px; border-bottom-right-radius: 48px; } 
#moveDown { border-bottom-left-radius: 48px; border-bottom-right-radius: 48px; }

strong { font-weight: bold; }
.muted { color: #858a71; }
p:not(.error) strong, dt strong { color: #f2f5eb; }
.button-group { display: inline-block; border-color: #656666; }
.error { font-size: 3em; color: #FF7055; }