<!DOCTYPE html>
<html ng-app="application">
<head>
    <title>Make Your Mark</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
    <link href="css/layout.css" media="screen" rel="stylesheet"/>
    <link href="css/theme.css" media="screen" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-cloak ng-controller="Main">
    <header>
        <h1>Make Your Mark</h1>
        <p><strong>v{{ version }}</strong> - <span class="muted">{{ versionName }}</span></p>
    </header>
    <section id="arena" ng-hide="needUpdate">
        <div class="canvas"></div>
        <controls></controls>
        <!--<p class="coords">-->
            <!--<strong>{{ cursor.x }}</strong> , <strong>{{ cursor.y }}</strong>-->
        <!--</p>-->
    </section>
    <section id="info" ng-hide="needUpdate">
        <h2>Welcome to <strong>Make Your Mark</strong>!</h2>
        <p>
            <strong>Move</strong> around with <strong>right</strong> click.<br />
            <strong>Select</strong> things with <strong>left</strong> click.
        </p>
        <p>You are seeking {{ player.seeking.property | properVowelConsonant }} <strong>{{ player.seeking.property | capitalize }} {{ player.seeking.properName }}</strong>.</p>
        <p>Cash: $<strong>{{ player.cash | number:0 }}</strong></p>
        <p>
            <label>Name
                <input type="text" name="playerName" ng-model="player.name" size="12" maxlength="20">
            </label>
        </p>
        <p>
            Teleport: 
            <button ng-repeat="otherPlayer in world.players" ng-click="gotoPlayer(otherPlayer)" ng-hide="otherPlayer.guid == player.guid">{{ otherPlayer.name }}</button>
        </p>
        <p>
            <button ng-click="game.paused = !game.paused">{{ game.paused ? 'Unpause' : 'Pause' }}</button>
            <button ng-click="clearPlayerData()">Clear Player Data</button>
        </p>
        <dl>
            <dt>FPS: <strong>{{ game.framesPerSecond }}</strong></dt>
            <dt>Global Tick: <strong>{{ game.ticks }}</strong></dt>
            <dt>Local/Server Offset: <strong>{{ game.localServerOffset }}</strong> ms</dt>
        </dl>
    </section>
    <section ng-show="needUpdate">
        <h2 class="error">Your game is out of date! Shift+F5 to hard-refresh the page</h2>
    </section>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.1.1/firebase.js'></script> <!-- Firebase -->
    <script src="app/app.js"></script>
    <script src="app/main.js"></script>
    <script src="app/game.js"></script>
    <script src="app/players.js"></script>
    <script src="app/world.js"></script>
    <script src="app/things.js"></script>
    <script src="app/containers.js"></script>
    <script src="app/renderer.js"></script>
    <script src="app/interface.js"></script>
    <script src="app/controls/controls.js"></script>
    <script src="app/canvas/canvas.js"></script>
    <script src="app/fireservice.js"></script>
    <script src="app/utility.js"></script>
    <script src="js/seedrandom.js"></script>
    <script src="js/localStorageModule.js"></script>
</body>
</html>