<div class="controls">
    <div class="upper">
        <section ng-show="game.player.vicinity.length > 0" class="clearfix">
            <h2>Vicinity</h2>
            <div class="thing" ng-repeat="thing in game.player.vicinity" ng-mouseover="onThing(thing)" ng-mouseleave="offThing(thing)" ng-click="selectThing(thing)" ng-class="{ hover: isOnThing(thing), selected: thingIsSelected(thing) }">{{ thing.name }}</div>
        </section>
        <section ng-show="game.selected">
            <h2>Selected</h2>
            <h3>{{ game.selected.name }}</h3>
            <p>{{ game.selected.desc }}</p>
            <button ng-click="takeThing(game.selected)" ng-show="!thingIsCarried(game.selected)">Take</button>
            <button ng-click="dropThing(game.selected)" ng-show="thingIsCarried(game.selected)">Drop</button>
        </section>
        <section ng-show="game.player.carried.length > 0">
            <h2>Carrying</h2>
            <div class="thing" ng-repeat="carried in game.player.carried" ng-mouseover="onThing(carried)" ng-mouseleave="offThing(carried)" ng-click="selectThing(carried)" ng-class="{ hover: isOnThing(carried), selected: thingIsSelected(carried) }">
                {{ carried.name }}
            </div>
        </section>
    </div>
    <div class="movement">
        <button id="moveUp" ng-click="moveUp()"><i class="fa fa-arrow-up"></i></button>
        <button id="moveLeft" ng-click="moveLeft()"><i class="fa fa-arrow-left"></i></button>
        <button id="moveRight" ng-click="moveRight()"><i class="fa fa-arrow-right"></i></button>
        <button id="moveDown" ng-click="moveDown()"><i class="fa fa-arrow-down"></i></button>
    </div>
</div>