<div class="controls">
    <div class="upper">
        <h2>Vicinity</h2>
        <div class="thing" ng-repeat="thing in game.player.vicinity" ng-mouseover="onThing(thing)" ng-mouseleave="offThing(thing)" ng-class="{ hover: isOnThing(thing) }">{{ thing.name }}</div>
    </div>
    <div class="movement">
        <button id="moveUp" ng-click="moveUp()"><i class="fa fa-arrow-up"></i></button>
        <button id="moveLeft" ng-click="moveLeft()"><i class="fa fa-arrow-left"></i></button>
        <button id="moveRight" ng-click="moveRight()"><i class="fa fa-arrow-right"></i></button>
        <button id="moveDown" ng-click="moveDown()"><i class="fa fa-arrow-down"></i></button>
    </div>
</div>