<div class="controls">
    <div class="upper">
        <section ng-show="game.player.vicinity.length > 0" class="clearfix">
            <h2>Vicinity</h2>
            <button class="thing" ng-repeat="thing in game.player.vicinity" ng-mouseover="onThing(thing)" ng-mouseleave="offThing(thing)" ng-click="game.player.needTarget ? thingAction({s:game.selected,t:thing},'continue') : selectThing(thing)" ng-class="{ hover: isOnThing(thing), selected: thingIsSelected(thing), targetable: game.player.needTarget && !thingIsSelected(thing) }"><span ng-repeat="mod in thing.mods">{{ mod + ' ' | capitalize }}</span>{{ thing.name }}</button>
        </section>
        <section ng-show="game.player.carried.length > 0" class="clearfix">
            <h2>Carrying</h2>
            <button class="thing" ng-repeat="carried in game.player.carried" ng-mouseover="onThing(carried)" ng-mouseleave="offThing(carried)" ng-click="game.player.needTarget ? thingAction({s:game.selected,t:carried},'continue') : selectThing(carried)" ng-class="{ hover: isOnThing(carried), selected: thingIsSelected(carried), targetable: game.player.needTarget && !thingIsSelected(carried) }"><span ng-repeat="mod in carried.mods">{{ mod + ' ' | capitalize }}</span>{{ carried.name }}</button>
        </section>
        <section ng-show="game.selected">
            <h2>Selected</h2>
            <h3><span ng-repeat="mod in game.selected.mods">{{ mod + ' ' | capitalize }}</span>{{ game.selected.name }}</h3>
            <p>{{ game.selected.desc }}</p>
            <div ng-show="isInReach(game.selected)">
                <button ng-click="takeThing(game.selected)" ng-show="!thingIsCarried(game.selected)">Take</button>
                <button ng-click="dropThing(game.selected)" ng-show="thingIsCarried(game.selected)">Drop</button>
                <button class="action" ng-repeat="action in game.selected.actions" ng-click="thingAction({s:game.selected},action)">{{ action | capitalize }}</button>
            </div>
        </section>
    </div>
    <div class="movement">
        <button id="moveUp" ng-click="moveUp()"><i class="fa fa-arrow-up"></i></button>
        <button id="moveLeft" ng-click="moveLeft()"><i class="fa fa-arrow-left"></i></button>
        <button id="moveRight" ng-click="moveRight()"><i class="fa fa-arrow-right"></i></button>
        <button id="moveDown" ng-click="moveDown()"><i class="fa fa-arrow-down"></i></button>
    </div>
</div>